html{
  height: 100%;
}

.mainPage {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header{
  display: flex;
  justify-content: space-between;
  background-color: rgb(175, 204, 236);
}

.footer {
  flex: 0 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1 0 auto;
}

.nav-menu {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
  text-decoration: none;
  padding: 5px;
}
